<!DOCTYPE html>
<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.css" 
          integrity="sha512-/zs32ZEJh+/EO2N1b0PEdoA10JkdC3zJ8L5FTiQu82LR9S/rOQNfQN7U59U9BC12swNeRAz3HSzIL2vpp4fv3w==" 
          crossorigin="anonymous">
    <title>Interface</title>
</head>
<body>
    <h1>Sliders Testing</h1>
    <div>
        <input type="range" orient="vertical" id="time1" name="time1" min="0" max="25" required>
        <div>
            <label for="time1">Slider A: </label>
            <b><input type="number" id="min-time" value="0"></input></b>
        </div>
    </div>
    <div>
        <input type="range" orient="vertical" id="time2" name="time2" min="0" max="25" required>
        <div >
            <label for="time2">Slider B: </label>
            <b><input type="number" id="max-time" value="0"></input></b>
        </div>
    </div>
    <div>
        <input type="range" orient="vertical" id="time3" name="time3" required>
        <div >
            <label for="time3">Slider C: </label>
            <b><input type="number" id="total-time" value="0"></input></b>
        </div>
    </div>
    <br><br>
    <div>
        Time: <input type="number" id="start-time" value="0">
        <button id="start-time-btn" is_start="0" onclick="clock()">Start</button>
        <button id="stop-time-btn" is_start="1" style="display: none;" onclick="stopClock()">Stop</button>
    </div>
    <br><br>
    <div>
        Auto Timer for every second: <input type="number" id="auto-start-time" value="0">
    </div>

    <div class="container">
        <canvas id="box-2" style="max-height: 430px; display: inline-block;"></canvas>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js" 
        integrity="sha512-d9xgZrVZpmmQlfonhQUvTR7lMPtO7NkZMkA0ABN3PHCbKA5nqylQ/yWlFAyY6hYgdF1Qh6nYiuADWwKB4C2WSw==" 
        crossorigin="anonymous">
    </script>

    <script src="{{ url_for('static', filename='main.js') }}"></script>
</body>
</html>